<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.color.mapper.userMapper">

	<insert id="register" parameterType="kr.color.domain.UserInfo">
		insert into
		userInfo(user_id,user_pwd,user_name,user_email,user_phone,admin_yn)
		values(#{user_id},#{user_pwd},#{user_name},#{user_email},#{user_phone},"N")
	</insert>

	<select id="login" parameterType="kr.color.domain.UserInfo"
		resultType="kr.color.domain.UserInfo">
		select * from userInfo where user_id=#{user_id} and
		user_pwd=#{user_pwd};
	</select>
	
	<!-- 우리 페이지에서 카카오로 로그인을 한 번이라도 하면 DB에 저장이 된다. -->
	<!-- 다음에 또 로그인 시 중복 저장이 되지 않도록 userID 확인 절차가 필요하다. -->
	<select id="checkId" parameterType="kr.color.domain.UserInfo"
		resultType="kr.color.domain.UserInfo">
		select * from userInfo where user_id=#{user_id} limit 1;
	</select>

</mapper>