* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  .login-form {
    width: 300px;
    background-color: #eeeff1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
  }
  
  .text-field {
    font-size: 14px;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .submit-btn {
    font-size: 14px;
    background-color: rgb(254,209,54);
    color: white;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px;
  }
  
  .links {
    margin-top: 30px;
    text-align: center;
  }
  
  .links a {
    font-size: 12px;
    color:  #9B9B9B;
  }